:root {
	--input-height: 38px;
	--input-width: 200px;
	--border-spacing: 16px;
	--border-color: rgb(135, 206, 250);
	--button-hover: rgba(135, 206, 250, 0.1);
}

* {font-family: 'Roboto', sans-serif;}

body {
	display: table;
	width: 100%;
	margin: 0;
	overflow-x: hidden;
}
.column {
	float: left;
	margin: 30px;
}

.indicator {
	position: absolute;
	font-size: 18px;
	padding: 0 7px;
	top: -10px;
	left: 15px;
	background-color: white;
}



/* Blend */
.blendation-station {
	position: relative;
	padding: 25px;
	padding-top: 28px;
	border: 2px solid pink;
	border-radius: 10px;
}

.blend-header {
	display: table;
	border-spacing: 4px 0;
	margin-bottom: 2px;
}
.blend-header>div {
	display: table-cell;
	text-align: center;
	font-style: italic;
	color: #777;
}

.blend-container {border-spacing: 4px;}

td {
	height: 35px;
	font-size: 15px;
	padding: 0 10px;
	border-radius: 5px;
	background-color: #eee;
	box-sizing: border-box;
}

.step-color {width: 250px;}
.step-hex, .step-rgb, .step-hsl {min-width: 80px;}



/* Color Inputs */
.control-center {
	position: relative;
	display: inline-block;
	text-align: center;
	padding: 25px;
	padding-top: 28px;
	border: 2px solid var(--border-color);
	border-radius: 10px;
}

.color-format-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin-bottom: var(--border-spacing);
	font-size: 16px;
}

.color-format-container>label {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	width: calc((100% - 2*var(--border-spacing))/3);
	border: 2px solid var(--border-color);
	border-radius: 5px;
	cursor: pointer;
	box-sizing: border-box;
}
.color-format-container>label:hover {
	background-color: var(--button-hover);
}
.color-format-container>input:checked + label {
	border-color: #777;
	background-color: #eee;
}
input[type='radio'] {display: none;}

.color-select {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: var(--border-spacing);
}

.color-input {
	display: flex;
	justify-content: space-between;
	height: var(--input-height);
	width: var(--input-width);
	border: 2px solid var(--border-color);
	border-radius: 5px;
	overflow: hidden;
}

.color-text {
	height: 100%;
	width: calc(var(--input-width) - var(--input-height));
	font-size: 16px;
	font-weight: 400;
	padding: 0 10px;
	border: none;
	box-sizing: border-box;
	letter-spacing: 0.5px;
}
.color-text:focus {outline: none;}
.color-text::placeholder {color: #999}

.color-input>label {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: var(--input-height);
	font-size: 20px;
	color: #aaa;
	background-color: #eee;
	cursor: pointer;
}
.color-input>label:hover {
	color: #777;
	background-color: #d5d5d5;
}
input[type='color'] {display: none;}

.color-preview {
	height: var(--input-height);
	width: var(--input-height);
	border-radius: 50%;
	background-color: white;
	border: 2px solid #ccc;
	/*box-shadow: 0 0 15px -5px rgba(0,0,0,0.3);*/
	margin-left: var(--border-spacing);
}

.dropdown {
	margin-right: var(--border-spacing);
}

.button {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 34px;
	font-size: 16px;
	padding: 0 14px;
	border: 2px solid var(--border-color);
	border-radius: 5px;
	outline: none;
	background-color: white;
	cursor: pointer;
}
.button:hover {background-color: var(--button-hover);}
.flip-button {margin-top: var(--border-spacing);}

.blend-button>i {
	font-size: 17px;
	margin-left: 6px;
}
.flip-button>i {
	font-size: 16px;
	margin-left: 6px;
}



/* Copy Box */
.copy-box {
	--copy-height: 50px;
	--copy-width: 210px;
	--copy-margin: 15px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	font-style: italic;
	right: calc(-1*(var(--copy-width) + var(--copy-margin)));
	bottom: 0;
	height: var(--copy-height);
	width: var(--copy-width);
	margin: var(--copy-margin);
	border: 2px solid var(--border-color);
	border-radius: 5px;
	/* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
	background-color: white;
	box-sizing: border-box;
}
.copy-box>i {
	font-size: 16px;
	margin-right: 8px;
	color: black;
}