/* Color Inputs */
.color-input {
	display: flex;
	width: 100%;
	margin-bottom: var(--input-spacing);
}

.color-text {
	width: var(--input-width);
	padding: 0 var(--input-padding);
	margin-right: var(--input-spacing);
	border: var(--input-border) solid var(--input-color);
	border-radius: var(--input-radius);
	outline: 0;
	box-sizing: border-box;
}
.color-text::placeholder {color: #888;}

input[type="color"] {display: none;}
.color-preview {
	display: flex;
	justify-content: center;
	align-items: center;
	height: var(--input-height);
	width: var(--input-height);
	border-radius: 50%;
	color: white;
	background: var(--input-active);
	cursor: pointer;
	transition: all 0.1s;
}
.color-preview svg {font-size: 16px;}
.color-preview:hover {transform: scale(1.08);}



.mid-button-container {
	display: grid;
	grid-auto-columns: 1fr;
	grid-auto-flow: column;
	grid-column-gap: var(--input-spacing);
	width: 100%;
	margin-bottom: var(--input-spacing);
}

.mid-button {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: var(--input-height);
	border: var(--input-border) solid var(--input-color);
	border-radius: var(--input-radius);
	outline: 0;
	background: white;
	cursor: pointer;
	overflow: hidden;
	user-select: none;
	box-sizing: border-box;
}
.mid-button:hover {background: var(--input-hover);}



/* Dropdown */
.dropdown {position: relative;}

.dropdown-label {width: 100%;}

.selected-midpoints {margin-left: 6px;}

.option-container {
	position: absolute;
	display: none;
	right: 0;
	margin-top: 5px;
	border: var(--input-border) solid var(--input-color);
	border-radius: var(--input-radius);
	background: white;
	overflow: hidden;
	z-index: 999;
}

.option {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(var(--input-height) - 2*var(--input-border));
	width: calc(var(--input-height) - 2*var(--input-border));
	cursor: pointer;
}
.option:hover {background: var(--input-hover);}

.divider {
	height: 1px;
	width: 70%;
	margin: 6px auto;
	background: #ddd;
}

.custom-option {
	display: flex;
	flex-direction: column;
}

.setter {
	height: 18px;
	font-size: 11px;
	padding: 0;
	margin: 0;
	border: 0;
	background: white;
}
.setter:hover {background: #eee;}



/* Blend */
.blend-container {border-spacing: var(--table-spacing);}

td {
	height: var(--input-height);
	padding: 0 var(--input-padding);
	border-radius: var(--input-radius);
	background: #eee;
	box-sizing: border-box;
}

.blend-header td {
	height: 25px;
	text-align: center;
	font-style: italic;
	color: #777;
	background: transparent;
}

.step-color {width: 250px;}
.step-hex, .step-rgb, .step-hsl {min-width: 80px;}