:root {
	--option-width: 36px;
}

.dropdown {
	position: relative;
	display: inline-block;
	vertical-align: top;
	font-size: var(--input-font-size);
	margin-right: var(--border-spacing);
	user-select: none;
}

.selected {
	display: flex;
	justify-content: center;
	align-items: center;
	height: var(--input-height);
	font-size: var(--input-font-size);
	padding-left: 12px;
	background-color: white;
	border: var(--border-width) solid var(--button-color);
	border-radius: var(--border-radius);
	overflow: hidden;
	cursor: pointer;
	box-sizing: border-box;
}
.selected:hover {background-color: var(--button-hover);}

.data {
	display: flex;
	justify-content: center;
	align-items: center;
	height: var(--input-height);
	width: var(--option-width);
}

.option-container {
	position: absolute;
	display: none;
	right: 0;
	margin-top: 5px;
	border: var(--border-width) solid var(--button-color);
	border-radius: var(--border-radius);
	overflow: hidden;
	background-color: white;
	z-index: 9999;
}

.option {
	display: flex;
	justify-content: center;
	align-items: center;
	height: var(--input-height);
	width: var(--option-width);
	cursor: pointer;
}
.option:hover {background-color: var(--button-hover);}

.divider {
	height: 1px;
	width: calc(var(--option-width) - 12px);
	margin: 6px auto;
	background-color: #ddd;
}

.custom-option {
	display: flex;
	flex-direction: column;
}

.setter {
	padding: 0;
	margin: 0;
	border: 0;
	background: white;
}
.setter:hover {background: #eee;}

.custom-option .option::-webkit-inner-spin-button,
.custom-option .option::-webkit-outer-spin-button {
	-webkit-appearance: none;
}