.disabled {
	background-color: #eee;
	border-color: #aaa;
	color: #888;
	user-select: none;
	pointer-events: none;
	opacity: 0.5;
}

.copy:hover {
	background-color: #ddd;
	cursor: pointer;
}
.copy:active {background-color: #ccc;}